.logoContainer
  width: 200px
  height: 240px
  background: #f5f5f7
  position: absolute
  left: 0px
  top: 0px
  box-shadow: 2px 2px 24px grey
  h1 
    margin-top: 90px
    margin-left: 30px
.navbar-nav
  margin-left :200px
.navCustom
  background: #f5f5f7
  z-index: 9
.big-image
  width: 100%
  height: 600px
  background-image: url(/assets/header/top-image.jpg)
  background-size: cover
  position: relative
.highlightsHeader
  position: absolute
  top:60%
  left:50px
.equal
  font-size: 40px 
  margin-top: 5px