<nav class="navbar navbar-expand-lg navbar-light navCustom">
  <a class="navbar-brand" href="#">
    <div class="logoContainer">
      <h1>Logo</h1>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Plan your expirience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>      
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <span class="equal">=</span>
    </div>
  </div>
</nav>
<div class="big-image">
  <div class="highlightsHeader">
    <h1>Michelangelo</h1>
    <button type="button" class="btn btn-dark btn-lg">Read more</button>
  </div>
</div>