.customFooter
  background : black
  min-height: 200px
  margin-top: 150px
  .leftInner
    margin-left: 70px 
    margin-top: 50px
    h2 
      color : #fff
      margin-bottom : 30px
    small
      color: #fff
  .rightInner
    margin-top: 50px
    h5
      color: #fff
      margin-bottom: 20px
    a
      color: #fff 
      font-weight: bold 
      margin-right: 15px
  .linksCustom
    a 
      display: block
      font-size: 14px
      margin-bottom: 10px





