<div class="row customFooter">
    <div class="col-sm-6">
    <div class="leftInner">
        <h2>Logo</h2>
        <small>2017 Forma LLC. All rights reserved.</small>
    </div>
    </div>
    <div class="col-sm-6 rightInner">
        <div class="row">
            <div class="col-sm-6">
              <h5>Keep in touch with us</h5>
              <a href="#">fb</a>
              <a href="#">tw</a>
              <a href="#">vm</a>
            </div>
            <div class="col-sm-6">
                <div class="row linksCustom">
                    <div class="col-sm-4">
                        <a href="#">Festival programme</a>
                        <a href="#">Support the Festival</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">Plan Your Expirence</a>
                        <a href="#">About</a>
                        </div>
                      <div class="col-sm-4">
                        <a href="#">Media</a>
                        </div>
                </div>
              </div>
        </div>
      </div>
</div>