<div class="row carruselCustom">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">2016 festival & performance guide</h6>
        <p class="card-text">Octuber 8, 2017</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">2016 festival & performance guide</h6>
        <p class="card-text">Octuber 8, 2017</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">2016 festival & performance guide</h6>
        <p class="card-text">Octuber 8, 2017</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">2016 festival & performance guide</h6>
        <p class="card-text">Octuber 8, 2017</p>
      </div>
    </div>
  </div>
</div>