.carruselCustom
  padding: 30px 5px
  .card
    &:hover
      transition: all 0.2s linear
      background-image: url(/assets/card.jpg)
      p, h6
        color: #fff
    p
      margin-top: 200px
      color:#aaabb1
