
<form class="form" (ngSubmit)="onSubmit()" #heroForm="ngForm">

<div class="form-group">

  <label for="name">Name</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name"
         #name="ngModel"
         pattern="^[^0-9]+$"
         >         
</div>
<div [hidden]="name.valid || name.pristine"
class="alert alert-danger">
Name is required
</div>

<div class="form-group">

    <label for="name">Lastname</label>
    <input type="text" class="form-control" id="lastname"
           required
           [(ngModel)]="model.lastname" name="lastname"
           #lastname="ngModel"
           pattern="^[^0-9]+$"
           >         
  </div>
  <div [hidden]="lastname.valid || lastname.pristine"
  class="alert alert-danger">
  Lastname is required
  </div>

<div class="form-group">
  <label for="alterEgo">Age</label>
  <input type="text"  class="form-control" id="age"
    required
    [(ngModel)]="model.age" name="age"
    #age="ngModel"
    pattern="[0-9]+"
    >
    <div [hidden]="age.valid || age.pristine"
class="alert alert-danger">
not a valid input
</div>
</div>

<div class="form-group">
  <label for="power"></label>
  <textarea class="form-control"  id="power"
          required maxlength="30"
          [(ngModel)]="model.comments" name="comments">
  </textarea>
</div>

  <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
</form>

<app-child [dataBinding]="dataBinding"></app-child>
<app-sibling></app-sibling>
