<div class="row">
  <div class="col-sm-12">
      <div id="carouselExampleFade" class="carousel slide carousel-fade " data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="imageContainer">
                  <img src="assets/header.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="holderContent">
                <h5>Winston Creek Regional Museum to host a new exhibit: An ocean of awe</h5>
                <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <button type="button" class="btn btn-link linkCustom">Read more</button>
              </div>
            </div>
            <div class="carousel-item">
                <div class="imageContainer">
                    <img src="assets/card.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="holderContent">
                  <h5>Second slider information...</h5>
                  <p  class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <button type="button" class="btn btn-link linkCustom">Read more</button>
                </div>
              </div>    
          </div>
          <a class="icons carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">&larr;</span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="icons carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">&rarr;</span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
</div>
