.carousel
  .carousel-control-prev, .carousel-control-next
    background : #fff
    border: 1px solid black
    color: black
    width: 50px
    height: 50px
    top: calc(50% - 25px)
    background-image: none
  .carousel-item
    .imageContainer
      width: 300px
      height: auto
      margin-left:10%
      display: inline-block
      vertical-align: middle
    .holderContent
      width: calc(90% - 320px)
      display: inline-block
      vertical-align: middle
      p
        color: #7d808a
      .linkCustom
        color: black